.container{
    height: 923px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}



.formInput{
    width: 700px;
    margin: 20px;
}
.myForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}